* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.slider-content .slider .slider-control li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *display: inline;
  *zoom: 1; }

.slider-content {
  width: 1240px;
  margin: 0 auto;
  overflow: hidden;
  height: 360px; }
  .slider-content .slider {
    overflow: hidden;
    position: relative;
    height: 360px; }
    .slider-content .slider .slider-list {
      height: 360px;
      overflow: hidden;
      width: 300%; }
      .slider-content .slider .slider-list li {
        height: 360px;
        float: left; }
        .slider-content .slider .slider-list li .banner1 {
          border: none;
          background: url("../../images/banner-big-1.jpg");
          width: 1240px;
          height: 360px; }
        .slider-content .slider .slider-list li .banner2 {
          border: none;
          background: url("../../images/banner-big-2.jpg");
          width: 1240px;
          height: 360px; }
        .slider-content .slider .slider-list li .banner3 {
          border: none;
          background: url("../../images/banner-big-3.jpg");
          width: 1240px;
          height: 360px; }
    .slider-content .slider .slider-control {
      position: relative;
      margin: 0 auto;
      text-align: center;
      margin-top: -30px;
      z-index: 100; }
      .slider-content .slider .slider-control li {
        width: 10px;
        height: 10px;
        border-radius: 6px;
        background: #ccc;
        vertical-align: middle;
        list-style: none;
        font-size: 0;
        margin-right: 10px; }
      .slider-content .slider .slider-control .selected {
        background: #e64545; }
    .slider-content .slider .control {
      z-index: 100;
      position: absolute;
      width: 60px;
      height: 78px;
      top: 40%;
      cursor: pointer;
      text-align: center;
      line-height: 78px; }
      .slider-content .slider .control i {
        width: 10px;
        height: 18px;
        position: absolute;
        top: 38%;
        left: 42%; }
    .slider-content .slider .pre {
      background: url("../../images/slider-available.png"); }
      .slider-content .slider .pre:hover {
        background: url("../../images/slider-hover.png"); }
      .slider-content .slider .pre i {
        background: url("../../images/slider-preview.png"); }
    .slider-content .slider .next {
      background: url("../../images/slider-available.png");
      right: 0; }
      .slider-content .slider .next:hover {
        background: url("../../images/slider-hover.png"); }
      .slider-content .slider .next i {
        background: url("../../images/slider-next.png"); }
