@import "base.scss";

#echarts-world {
	width: 1000px;
	margin: 0 auto;
	height:500px;
	border: 1px solid #ccc;
}

#echarts-usa {
	width: 1000px;
	margin: 0 auto;
	height:500px;
	border: 1px solid #ccc;
}

#echarts-sales {
	width: 1000px;
	margin: 0 auto;
	height:500px;
	border: 1px solid #ccc;
}